{% extends "blog/base.html" %}

{% block title %}
    Categories
{% endblock %}

{% block content %}

<div class="page-header">

    <h1>Categories</h1>

    <p>
        Explore posts by category.
    </p>

</div>


<div class="categories-list">

    {% for category in categories %}

    <article class="category-card">

        <div class="category-content">

            <h2>
                <a href="{% url 'category_posts' category.slug %}">
                    {{ category.name }}
                </a>
            </h2>

            <p>
                Explore all posts in the
                <strong>{{ category.name }}</strong>
                category.
            </p>

            <a
                href="{% url 'category_posts' category.slug %}"
                class="read-more"
            >
                View Posts →
            </a>

        </div>

    </article>

    {% empty %}

    <article class="category-card">

        <div class="category-content">

            <h2>No categories yet</h2>

            <p>
                Hozircha kategoriyalar mavjud emas.
            </p>

        </div>

    </article>

    {% endfor %}

</div>

{% endblock %}