{% extends "blog/base.html" %}

{% block title %}
{{ category.name }}
{% endblock %}

{% block content %}

<h1>{{ category.name }}</h1>

{% for post in posts %}

<div class="post-card">

    <h2>
        <a href="{% url 'post_detail' post.slug %}">
            {{ post.title }}
        </a>
    </h2>

    <p>
        {{ post.content|truncatewords:30 }}
    </p>

</div>

{% empty %}

<p>Bu kategoriyada hozircha postlar mavjud emas.</p>

{% endfor %}

<br>

<a href="{% url 'category_list' %}">
    ← Back to Categories
</a>

{% endblock %}