{% extends "blog/base.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

<article>

    <h1>{{ post.title }}</h1>

    <p>
        {{ post.created_at }}
    </p>

    {% if post.image %}
        <img
            src="{{ post.image.url }}"
            alt="{{ post.title }}"
        >
    {% endif %}

    <div>
        {{ post.content|linebreaks }}
    </div>

</article>

<hr>

<h2>Comments</h2>

{% for comment in post.comments.all %}

    <div>
        <strong>
            {{ comment.user.username }}
        </strong>

        <p>
            {{ comment.content }}
        </p>

        <small>
            {{ comment.created_at }}
        </small>
    </div>

    <hr>

{% empty %}

    <p>No comments yet.</p>

{% endfor %}

<a href="{% url 'add_comment' post.id %}">
    Add Comment
</a>

{% endblock %}