{% extends "blog/base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<div class="post-card">

```
<h1>{{ post.title }}</h1>

<p>
    {{ post.content }}
</p>

<br>

<p>
    <strong>Author:</strong> {{ post.author.username }}
</p>

<p>
    <strong>Category:</strong>
    <a href="{% url 'category_posts' post.category.slug %}">
        {{ post.category.name }}
    </a>
</p>

<p>
    <strong>Created:</strong> {{ post.created_at }}
</p>
```

</div>

<br>

<a href="{% url 'post_list' %}">
    ← Back to Blog
</a>

{% endblock %}
